/* Header Section */
.header-container {
    height: fit-content;
    position: sticky;
    top: 0;
    /* colours */
    background-color: #F5F5F5;
    outline: 3px solid #1E1E1E;
    /* alignment */
    align-content: center;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}