
.title-text {
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.how-to-play-container {
    /* dimensions */
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 6rem;
    padding-top: 2rem;
    gap: 2rem;
}

.text-group {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.box {
    /* dimensions */
    width: fit-content;
    /* alignment */
    display: flex;
    padding: 0.5rem;
    /* colour */
    background-color: #F5F5F5;
    outline: 2px solid #1E1E1E;
    box-shadow: 2px 2px 0px 2px #1E1E1E;
    cursor: pointer;
}